body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


.YouTubeHtml {
    height: 400px;
    width: 100%;
}

.buttonGo {
    text-align: center;
}

.startPosition {
    width: 40px;
    float: left;
}

.downloadMethod {
    clear: both;
}

    .downloadMethod select {
        width: 170px;
    }

#youTubeForm h4 {
    width: 120px;
}
