@{
    ViewBag.Title = "YouTube Html";
}

<div class="jumbotron">
    <div>
        <form id="youTubeForm" action="@Url.Content("~/YouTube/Convert")" method="post">
            <h2>YouTube Html</h2>
            <p><textarea class="YouTubeHtml" name="youTubeHtml" placeholder="Paste your YouTube html here..."></textarea></p>
            <p class="buttonGo"><a class="btn btn-primary btn-lg" id="buttonGo">Go!</a></p>
        </form>
    </div>
</div>

@section scripts{
    <script src="@Url.Content("~/Scripts/Views/Index.js")" ></script>
}